/* navigation bar */

*{
    margin:0;
    padding:0;
}
h4{
    text-align: center;
    background-color: rgb(255, 123, 0);
    width: 100%;
    height: 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}
img{
    width:200px;
    height: 80px;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:aliceblue;
}
#header a{
    text-decoration: none;
    color: rgb(165, 160, 160);
    font-size:25px;
    font-weight: 500;
}
#header a:hover{
    color: rgb(3, 126, 79);
}
#header i{
    font-size: 30px;
}
#About{
    background-image: url("https://i.shgcdn.com/f95290db-d02e-433c-9564-4766788d684c/-/format/auto/-/preview/3000x3000/-/quality/lighter/");
    text-align: center;
    color: white;
    height: 300px;
    padding-top: 150px;
    font-size: 30px;
}

/* Navigation bar2 */
#navbar2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(6, 129, 129);
    padding: 20px;
    font-size: 20px;
}
#navbar2 a{
    font-size: 25px;
    color: teal;
}

#navbar2 a:hover{
    color: rgb(255, 153, 0);
    text-decoration: underline;
}
/* description */
#desc{
    display: flex;
    justify-content: space-evenly;
    gap:30px;
    padding:  30px 80px;
}
#desc div img{
    height: 900px;
    width:700px;
}
#desc div h2{
    color:teal;
    font-size:40px;
}
#desc div p{
    font-size: 20px;
    margin: 20px 0px;
    color: rgb(91, 88, 88);
}
#desc2{
    display: flex;
    justify-content: space-evenly;
    gap:30px;
    padding: 30px 80px
}
#desc2 div img{
    width: 700px;
    height: 450px;
}
#desc2 div h2{
    color:rgb(3, 92, 92);
    font-weight: bold;
    font-size:28px;
}
#desc2 div p{
    font-size: 20px;
    margin: 20px 0px;
    color: rgb(91, 88, 88);
}



/* css footer */
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    height:500px;
    margin-top: 50px;
    
}
.col1,.col2,.col3{
    display: grid;
    padding: 100px;
    font-size: 30px;
    border: 0px solid;
    
}
a{
    margin-top: 20px;
    text-decoration: none;
    color: rgb(120, 116, 116);
}
.col4{
   font-size: 20px;; 
}
#int{
    padding:5px;
    width:150px;
}
#instruct{
    background-color: aliceblue;
    padding: 0px 100px;
}
#instruct p{
    border: 1px solid green;
}

@media only screen and (max-width:800px){
    h4{
        padding-top: 30px;
    }
    #header a{
        font-size:0px;
    }
    #header i{
        font-size: 30px;
    }
    #About{
        color: white;
        height: 300px;
        padding-top: 150px;
        font-size: 15px;
    }
    /* navbar2 */
    #navbar2 a{
        font-size: 18px;
    }
    #desc{
        display: grid;
        justify-content: space-evenly;
        padding:  20px 200px;
    }
    #desc div img{
        height: 800px;
        width:600px;
    }
    #desc2{
        display: grid;
        justify-content: space-evenly;
        padding: 20px 20px;
    }
    #desc2 div img{
        width: 600px;
        height: 450px;
    }
    /* footer css */
    #footer{
        display: grid;
        
    }
    .col4{
       font-size: 15px;; 
    }
    #instruct{
        background-color: aliceblue;
        padding: 1100px 100px;
    }
    #instruct p{
        border: 1px solid green;
    }
}