#card{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    gap:20px;
}
#card>div {
    border:0px solid red;

}
#card>div img{
    width:100%;
}
#card>div img+p,p{
    font-size: 20px;
    font-weight: bold;
}

